.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.hamburgerMenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImg {
  margin: 0 10px;
  img {
    border-radius: 50%;
  }
}

.left {
  display: flex;
  text-align: center;
  align-items: center;
}

.iconContainer {
  height: 50px;
  display: flex;
  align-items: center;
  & > img {
    vertical-align: middle;
  }
  &:after {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
  }
}
