.checkboxInput {
  display: none;
}

.checkbox {
  width: fit-content;
  padding: 8px 10px;
  border-radius: 30px;
  color: var(--color-black);
  display: flex;
  justify-content: center;
  border: 3px solid lightgray;
}

.checkboxText {
  font-size: 1.4rem;
  padding-right: 2px;
  white-space: nowrap;
}

.checkboxInput:checked + .checkbox {
  border-color: var(--color-orange);
}
