.Sidebar {
  z-index: 10;
  background-color: var(--color-white);
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding: 7px;
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  height: 40px;
  gap: 5px;
}

.closeBtn {
  width: 40px;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.menuItem {
  & a {
    font-size: 20px;
    font-weight: 800;
  }
  margin-bottom: 20px;
}

.bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  bottom: 3dvh;
}

.userBtn {
  padding: 0 5px;
}

.login {
  margin: 0 auto;
  margin-top: 30px;
  width: fit-content;
}

.userInfo {
  margin: 0 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.userNickname {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 3px;
  & > .nickname {
    font-size: 1.6rem;
    font-weight: 800;
  }
}

.userEmail {
  font-size: 1.4rem;
}

.userInfoBtnGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  & > .userInfoBtn {
    font-size: 1.4rem;
  }
}

.deleteBtn {
  font-size: 1.4rem;
}

.userEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  & > .emailLine {
    font-size: 1.4rem;
  }
}

.nicknameModal {
  width: 100%;
  max-width: 500px;
  height: 100dvh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
