.Sidebar {
  z-index: 5;
  padding: 12px;
  border-radius: 0 15px 15px 0;
  background-color: #ffffff;
  height: 100%;
  top: 50px;
  position: absolute;
  transition:
    transform 500ms linear,
    opacity 500ms linear;
  width: 50%;
  &.open {
    transform: translateX(0%);
  }
}

.menu {
  margin: 30px 8px;
}
