.Sidebar {
  z-index: 5;
  padding: 10px;
  background-color: var(--color-white);
  height: calc(100vh - 60px);
  top: 60px;
  position: absolute;
  transition:
    transform 500ms linear,
    opacity 500ms linear;
  width: 50%;
  &.open {
    transform: translateX(0%);
  }
}

.menu {
  margin: 30px 8px;
}
