.Carousel {
  --slide-spacing: 1rem;
  --slide-size: 210px;
  --slide-height: 19rem;
<<<<<<<< HEAD:frontend/daengdaeng/src/components/PlaceCarousel/index.module.scss
  padding: 10px 15px;
========
  padding: 10px 16px;
>>>>>>>> 4d99e5a (rename: container 폴더 삭제 후 해당하는 페이지 아래로 옮김):frontend/daengdaeng/src/app/mypets/myPets/PetCarousel/index.module.scss
}

.viewport {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
