.PlaceRecommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.petCheck {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pet {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
}

.placeList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.placeListHeader {
  width: 280px;
  border-radius: 20px;
  height: 30px;
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
}

.place {
  width: 280px;
  height: 280px;
  border-radius: 20px;
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
}
