.addBtn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  padding-top: 10px;
  align-items: center;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  vertical-align: bottom;
}
