@mixin button-color($color) {
  background-color: var(--color-#{$color});
  &:hover {
    background: var(--color-#{$color}-lighter);
  }
  &:active {
    background: var(--color-#{$color}-darker);
  }
}

.Button {
  padding: 8px 15px;
  border-radius: 30px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  & > span {
    padding-right: 5px;
    font-weight: 600;
  }
  &:hover {
    cursor: pointer;
  }
}

.small span {
  font-size: 1.6rem;
}

.medium span {
  font-size: 2rem;
}

.large span {
  font-size: 2.4rem;
}

.bg-orange {
  @include button-color('orange');
}

.bg-gray {
  @include button-color('gray');
}
