.HomePage {
  text-align: center;
}

.title {
  padding: 5px;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  font-weight: 800;
  font-size: 1.8rem;
}

.daenggamja {
  position: relative;
  width: 50%;
  height: 50%;
  margin: 70px 0 0;
  justify-content: center;
}

.frame {
  padding: relative;
  margin: 10px auto 10px;
  width: 100%;
  height: 100%;
}

.mbtiBtn {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}

.frames {
  padding: 30px;
  margin: 20px auto 0;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.header {
  color: #477af6;
}
