.title {
  font-size: 1.6rem;
  width: fit-content;
  margin: 0 auto;
  font-weight: 800;
}

.petList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100vw;
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
  margin: 0 auto;
  justify-content: center;
  padding: 5px;
}

.startButton {
  width: fit-content;
  margin: 0 auto;
}
