.container {
  padding: 30px 20px;
}

.photoList {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  margin: 12px;
  padding: 10px;
  transition: background-color 0.3 ease-in-out;
}

.pagebutton {
  height: 50px;
  padding-top: 10px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.btnContainer button {
  margin: 0 20px;
}

.photoBlur {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  height: 400px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.545) !important;
}

.marker {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.photoPlace {
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
}

.photobox {
  display: flex;
}

.image {
  position: absolute;
  z-index: 2;
}
