.UploadContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.PhotoContainer {
  position: relative;
  padding-top: 1.6rem;
}

.Frame {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
  pointer-events: none;
}

.RadioContainer {
  display: flex;
  justify-content: space-around;
  padding: 1.8rem 0;
}

.RadioInput {
  appearance: auto;
  accent-color: orange;
}

.TextContainer {
  height: fit-content;
  text-align: center;
}

.Text {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  font-weight: 800;
  font-size: 1.8rem;
}

.FinalCanvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -3;
  // pointer-events: none;
  background-color: blueviolet;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}
