.checkboxInput {
  display: none;
}

.checkbox {
  width: fit-content;
  padding: 8px 10px;
  border-radius: 30px;
  color: var(--color-white);
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.checkboxText {
  font-size: 1.6rem;
  padding-right: 2px;
}

.checkboxInput:checked + .checkbox {
  background-color: var(--color-orange);
}
