.formItem {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.searchInput {
  display: flex;
  position: relative;
  & > input {
    font-size: 1.8rem;
    border: none;
    width: 300px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 80px;
    text-align: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  }
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  & > svg {
    display: flex;
    align-items: center;
  }
}
