.formItem {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 5%;
  left: 15%;
  width: 70%;
  & > input {
    font-size: 1.8rem;
    border: none;
    padding: 3% 5%;
    border-radius: 80px;
    text-align: center;
  }

  & > div {
    position: absolute;
    right: 0;
    padding: 10px 15px;
  }
}
