.Carousel {
  --slide-size: 100%;
  --slide-height: 19rem;
  width: fit-content;
  margin: 0 auto;
}

.viewport {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  gap: 5px;
  touch-action: pan-y;
}

.slide {
  flex: 0 0 auto;
  min-width: 0;
  max-width: 100%;
  position: relative;
}
