.Carousel {
  --slide-size: 18%;
  --slide-height: 19rem;
  padding: 10px 16px;
}

.viewport {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
  flex: 0 0.1 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
