.petCheck {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pet {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #f1f1f1 4%, #e2e2e2 25%, #e5e5e5 36%);
  background-size: 1000px 100%;
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
}
