.PetRegistForm {
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 20px;
  width: 85vw;
  max-width: 400px;
}

.registForm {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  & div {
    text-align: center;
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--color-orange);
}

.petImage {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  & > img {
    border-radius: 50%;
  }
}

.petImageUpload {
  & > input {
    display: none;
  }
}

.imgRemoveBtn {
  font-size: 1.4rem;
  padding: 5px;
  color: dimgray;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & > .formLabel {
    font-size: 1.6rem;
    font-weight: 800;
  }
  & > input {
    font-size: 1.6rem;
    border: none;
    padding: 12px 10px;
    border-radius: 100px;
    background-color: var(--color-light-orange);
    text-align: center;
  }
}

.formItemDate {
  & > .formLabel {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 5px;
  }
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.weight {
  font-size: 1.6rem;
  border: none;
  padding: 10px;
  border-radius: 100px;
  background-color: var(--color-light-orange);
  text-align: center;
  width: 80px !important;
  & + span {
    margin-left: 5px;
    font-size: 1.6rem;
  }
}

.radioInput {
  appearance: none;
}

.label > span {
  font-size: 1.6rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.genderRadioGroup {
  display: flex;
  justify-content: center;
}

.datepicker {
  font-size: 1.6rem;
  border: none;
  padding: 12px 10px;
  border-radius: 100px;
  background-color: var(--color-light-orange);
  text-align: center;
}

.datepickerCalendar {
  border: none;
  border-radius: 10px;
}

.customHeaderContainer {
  background-color: var(--color-light-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 8px;
  padding: 0 12px 0 24px;
}

.monthBtn {
  display: flex;
  align-items: center;
}

.yearSelect {
  border: none;
  font-size: 1.6rem;
}

.currentYearMonth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currentMonth {
  font-size: 1.6rem;
}

.noBirthDataCheckbox {
  display: none;
}

.noBirthData {
  width: 20px;
  height: 20px;
  background-color: var(--color-gray-lighter);
  border-radius: 5px;
  display: inline-block;
  position: relative;
  // &.checked {
  //   background-color: var(--color-orange);
  // }
  &::after {
    opacity: 1;
  }
  &.checked {
    background-color: var(--color-orange);
    &::after {
      content: '✔';
      color: white;
      font-size: 1.4rem;
      width: 20px;
      height: 20px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
    }
  }
}

.noBirthDataLabel {
  width: fit-content;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  & > .label {
    font-size: 1.4rem;
  }
}

.deletePet {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  & > button {
    font-size: 1.5rem;
    color: var(--color-error-red);
  }
}
