.InfoRegistForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 20px;
  width: 85vw;
  max-width: 400px;
}

.TextContainer {
  display: flex;
  text-align: center;
}

.TitleText {
  padding: 5px;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  font-weight: 800;
  font-size: 2.3rem;
}

.Text {
  padding: 5px;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  font-weight: 800;
  font-size: 1.8rem;
}

.AlarmText {
  font-size: 1.4rem;
}

.MessageContainer {
  height: 1.5rem;
}

.SearchContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  // margin: 1.2rem 0;
}
.KeywordInput {
  font-size: 1.8rem;
  border-style: solid;
  border-color: lightgray;
  padding: 1% 5%;
  border-radius: 80px;
  text-align: left;
  width: 100%;
}

.SearchButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  padding: 5px;
  width: 40px;
  z-index: 2;
}

.PlaceResultContainer {
  height: 30vh;
  overflow: auto;
  border-radius: 20px;
  border-color: orange;
  border-width: 0.3rem;
  border-style: solid;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.PlaceResultContainer::-webkit-scrollbar {
  display: none;
}

.PlaceResultContainer {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.PlaceResultContainer::-webkit-scrollbar {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
  justify-content: center;
  gap: 5px;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.buttons::-webkit-scrollbar {
  display: none;
}

.buttons {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.buttons::-webkit-scrollbar {
  display: none;
}
