.CategoryCard {
  padding: 10px 15px;
  background-color: white;
  border-radius: 20px;
  font-size: 1.6rem;
  margin: 8px 2px;
  outline: 1px solid rgb(230, 230, 230);
  &.selected {
    background-color: var(--color-orange);
  }
}
