.placeSearchContainer {
  display: flex;
  background-color: white;
  height: calc(100dvh - 50px);
}

.placeListContainer {
  margin: 0 20px;
  padding-top: 100px;
}

.container {
  position: relative;
}

.slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.searchBarContainer {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;
}
