.placeSearchContainer {
  display: flex;
  background-color: white;
  height: calc(100dvh - 50px);
}

.placeListContainer {
  padding-top: 100px;
}

.container {
  position: relative;
}

.slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.searchBarContainer {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;
}

.placeList {
  height: calc(100dvh - 130px);
  overflow: auto;
  margin: 10px 15px;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.placeList::-webkit-scrollbar {
  display: none;
}

.placeList {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.observerTarget {
  bottom: 0;
  height: 20px;
}
