.MBTITest {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  align-items: center;
}

.nodata {
  text-align: center;
  height: calc(100dvh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  & > .nodataTitle {
    font-size: 1.6rem;
  }
  & > .nodataButton {
    width: fit-content;
    margin: 0 auto;
  }
}
