.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  padding: calc(30vh - 65px) 0 10vh 0;
}

.LoginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 65px;
}

.Body {
  font-weight: 700;
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  display: -webkit-box;
  display: -webkit-flex;
  border-radius: 24px;
  margin-bottom: 10px;
}

.LoginKakao {
  background-color: #fee500;
}

.LoginGoogle {
  background-color: #ffffff;
  border: 1px solid #34383b;
}

.Body span {
  font-size: large;
  display: inline-block;
  width: 100%;
  text-align: center;
}
