.PlaceDetailInfo {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > div {
    font-size: 1.6rem;
  }
}

.label {
  width: 90px;
  font-weight: 800;
  font-size: 1.8rem !important;
}

.placeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeTitle {
  font-size: 2.4rem !important;
  font-weight: 800;
}

.placeAddress {
  font-size: 1.4rem;
}

.placeOpeningHourContainer {
  & > div {
    font-size: 1.6rem;
    float: left;
  }
}

.placeOpeningHour > div {
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}

.content {
  line-height: 2.6rem;
  padding-right: 30px;
}

.phone {
  display: flex;
  & > div {
    font-size: 1.6rem;
  }
}
